<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs paypal</title>
</head>
<body>
    <h1>My Account</h1>
    <p>Current money: 100.000$</p>
    <form action="/pay" method="post">
        <button type="submit">Buy</button>
    </form>
</body>
</html>